<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="./mars.css">
    </head>
    <title>
        Home page
    </title>
    <body>
        <p>Hello guest,</p>
<p>Welcome to Angarag's home page:</p>
<p><img src="https://lh3.googleusercontent.com/-UXs2Z4m9BnM/AAAAAAAAAAI/AAAAAAAAAAA/AKxrwcY9HCm5_Ndb1MvPdu5j_t-oTQd5kQ/s96-c-mo/photo.jpg" /></p>
<p>You can find each day's homework of the course CS472 taught in MUM:</p>
<ul>
<li><a href="./aboutme.html" target="_self" rel="noopener">About me</a></li>
<li><a href="./homework/pie.html" target="_self">Lab 01 - Pie</a></li>
<li><a href="./homework/hw2/hw2.html" target="_self">Lab 02 - Movie</a></li>
<li><a href="./lab/lab10-ajax.html" target="_self">Lab 10 - Ajax</a></li>

</ul>
<p><a href="http://validator.w3.org/check/referer"><img src="http://mumstudents.org/cs472/2014-09/images/w3c-html.png" alt="html validator" /></a></p>
<p>&nbsp;</p>
    </body>
</html>

