<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/lab10.js"></script>
    <link rel="stylesheet" href="/stylesheets/lab10.css">
</head>

<body>
    <div>
        <div>
            <span>Enter user ID:</span>
            <input type="text" name="user" id="user_id" type="" />
            <button id="btn">get user data</button>
        </div>
    </div>
    <div id="user_data">
        <div id="user_info">
            <div>
                <span>User name:</span>
                <p id="user_name" class="p_inline"></p>
            </div>
            <div>
                <span>Email:</span>
                <p id="user_email" class="p_inline"></p>
            </div>
            <div>
                <span>Address:</span>
                <p id="user_address" class="p_inline"></p>

            </div>
        </div>
        <div id="user_posts">
        </div>
    </div>
</body>

</html>